/*Zain wrote this style sheet*/
.container {
    width: 60%;
    margin-left: 10%;
    
  }
  path {fill: lightgray; stroke: white;}
  path:hover {fill: gray;} 

  #mapsection {
    width: 50%;
    height: auto;
    fill: #ccc;
    stroke: #333;
    stroke-width: 2;
  }

  #CH {
    fill: rgb(225, 104, 195);
  }
  
  #AT {
    fill: rgb(180, 209, 180);
  }

  #CA {
    fill: rgb(255, 201, 135);
  }

  #GR {
    fill: rgb(78, 145, 169);
  }

  #PT {
    fill: rgb(255, 180, 114);
  }

  #TR {
    fill: rgb(255, 166, 166);
  }

  path {
    fill: #4c4bad;
  }
  path:hover {
    fill: rgb(255, 176, 218);
    stroke: rgb(255, 104, 210);
    stroke-width: 3px;
    transition: fill 0.4s;
  }

  /*Zain wrote this style sheet*/