/*Sima wrote this style sheet*/

* {box-sizing: border-box}


/* Set height of body and the document to 100% */
body, html {
  background-color: rgb(195, 202, 255);
  height: 100%;
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  color: rgb(27, 27, 103) 
}

.left-adjustments {
    margin-left:10px;
}