* {box-sizing: border-box}
/*Sima wrote this style sheet */ 

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(195, 202, 255);
}
.left-adjustments {
    margin-left:10px;
}
